section
    div.rows
        h2 Berastagi
    div.rows
        img.img-responsive(src="img/berastagi3.jpg")
    div.rows
        p.text-left Berastagi merupakan objek wisata di dataran tinggi Karo. Berastagi berjarak sekitar 66 kilometer dari Kota Medan. Berastagi diapit oleh 2 gunung berapi aktif yaitu Gunung Sibayak dan Gunung Sinabung. Aktivitas ekonomi di Berastagi terpusat pada pasar sayur dan buah-buahan, dan pada pariwisata. Etnis yang dominan di daerah ini adalah Batak Karo.

section
    div.rows
        h2 Berastagi Cont...
    div.rows
        p.text-left Ada banyak tempat yang bisa anda kunjungi di Berastagi , Berikut lima tempat yang tidak boleh anda lewatkan saat berkunjung di Berastagi dan sekitarnya :
    ol.text-left
        li Desa Lingga
        li Bukit Gundaling
        li Pasar Buah Berastagi
        li Pemandian Air Panas Sidebuk-debuk
        li Taman Alam Lumbini
    
section
    div.rows
        h2 Desa Lingga
    div.rows
        img.img-responsive(src="img/desalingga.jpg")
    div.rows
        p.text-left Desa ini terletak 15 Km. dari Berastagi, tepatnya di Kecamatan Simpang Empat. Berisi rumah - rumah bersejarah yang telah berusia lebih dari 250 Tahun. Juga terdapat museum lingga yang berisi peninggalan-peninggalan kerajaan Karo. Kota Berastagi didominasi oleh suku Karo dan memiliki kerajaan yang unik. Dari desa inilah kabarnya terbentuk wilayah Karo.

section
    div.rows
        h2 Bukit Gundaling
    div.rows
        img.img-responsive(src="img/gundaling.jpg")
    div.rows
        p.text-left Bukit gundaling juga menjadi peristirahatan para pelancong, bukit hijau yang berhiaskan pinus ini terlihat indah dan menawan. Dari sini kita bisa berkeliling dengan kuda sendiri atau bersama Keluarga, Diatas bukit Kita bisa melihat panorama kota Berastagi dari ketinggian, disini juga bisa kita jelas Gunung Sinabung dan Sibayak.
        
section
    div.rows
        h2 Bukit Gundaling Cont...
    div.rows
        img.img-responsive(src="img/kuda.jpg")
    div.rows
        p.text-left Di kaki bukit, terdapat banyak sekali bangunan-bangunan bersejarah peninggalan belanda yang ada disekitar bukit Gundaling. Kita bisa menikmati sunrise dari atas bukit. Hampir disepanjangan jalan, terdapat banyak tempat yang menjual souvenir-souvenir, menjual oleh-oleh dan cinderamata khas berastagi.
        
section
    div.rows
        h2 Pasar Buah Berastagi
    div.rows
        p.text-left Pasar buah Berastagi merupakan pasar buah paling sibuk di Sumatera Utara, setiap hari ada saja pelancong dari berbagai daerah singgah disini, macam-macam buah segar bisa dtemukan di pasar buah ini. Disini juga terdapat banyak sayur-sayuran Segar yang terhampar dipasar buah Berastagi dan letak pasar ini tak jauh dari Pusat Kota. 