section
    div.rows
        h2 Berastagi
    div.rows
        img.img-responsive(src="img/berastagi3.jpg")
    div.rows
        p.text-left Berastagi merupakan objek wisata di dataran tinggi Karo. Berastagi berjarak sekitar 66 kilometer dari Kota Medan. Berastagi diapit oleh 2 gunung berapi aktif yaitu Gunung Sibayak dan Gunung Sinabung. Aktivitas ekonomi di Berastagi terpusat pada pasar sayur dan buah-buahan, dan pada pariwisata. Etnis yang dominan di daerah ini adalah Batak Karo.

section
    div.rows
        h2 Berastagi Cont...
    div.rows
        p.text-left Ada banyak tempat yang bisa anda kunjungi di Berastagi , Berikut lima tempat yang tidak boleh anda lewatkan saat berkunjung di Berastagi dan sekitarnya :
    ol.text-left
        li Desa Lingga
        li Bukit Gundaling
        li Pasar Buah Berastagi
        li Pemandian Air Panas Sidebuk-debuk
        li Taman Alam Lumbini
    
section
    div.rows
        h2 Desa Lingga
    div.rows
        img.img-responsive(src="img/desalingga.jpg")
    div.rows
        p.text-left Desa ini terletak 15 Km. dari Berastagi, tepatnya di Kecamatan Simpang Empat. Berisi rumah - rumah bersejarah yang telah berusia lebih dari 250 Tahun. Juga terdapat museum lingga yang berisi peninggalan-peninggalan kerajaan Karo. Kota Berastagi didominasi oleh suku Karo dan memiliki kerajaan yang unik. Dari desa inilah kabarnya terbentuk wilayah Karo.
