section
    h2 Bukit Lawang
p(style="text-align:left") Bukit Lawang adalah sebuah desa kecil yang terletak di selatan Taman Nasionjal Gunung Leuseur. Terletak sekitar 90 kilometer barat laut Medan, ibu kota Sumatera Utara. Bukit Lawang adalah pintu gerbang ke dalam hutan Sumatera yang legendaris yang memiliki medan licin dan lereng curam serta berlumpur.
    
section
    h2 Bukit Lawang Cont...
p(style="text-align:left") Bukit Lawang adalah salah satu tempat terbaik di dunia untuk menemukan primata langka dan hampir punah. Melihat makhluk anggun berayun-ayun melalui ranting-ranting pohon. Hutan ini adalah salah satu komunitas terbesar orangutan,  lebih dari 5000 orangutan tinggal di sini.
    p(style="text-align:left") Pusat rehabilitasi orangutan adalah tempat bagi orangutan yatim piatu yang dilatih hidup di alam bebas. Pusat ini telah beroperasi sejak tahun 1973 dan hingga kini telah menarik pengunjung dari seluruh dunia  untuk melihat sekilas makhluk menakjubkan.

section
    h2 Bukit Lawang Cont...
p(style="text-align:left") Treking di malam hari adalah favorit para pengunjung. Kebanyakan pengunjung memilih perjalanan dua hari untuk dapat memiliki kesempatan melihat orangutan dan satwa liar lainnya di habitat alami mereka. Petualangan ini berbahaya bagi wisatawan yang sendirian melakukan treking di hutan sehingga setiap perjalanan harus dibimbing oleh seorang pemandu yang berpengalaman. 