section
    h2 Danau Toba
    p(style="text-align:left") Danau Toba merupakan salah satu danau terbesar di dunia dan juga sebagai Objek Wisata Danau terpopuler di Indonesia. Di tengah Danau Toba ini terdapat Pulau Samosir yang berada pada ketinggian 1.000 mdpl. Di danau tersebut pernah terjadi letusan yang begitu dahsyat dan memuntahkan bebatuan serta abu vulkanik hinggah sejauh 2000 km. Hal itu menyebabkan langit menjadi gelap hingga 2 minggu. Letusan tersebut akhirnya membentuk kawah gunung berapi yang begitu besar dan kemudian terisi air. Tekanan magma akhirnya membentuk pulau samosir.
    p(style="text-align:justify") Objek Wisata Danau Toba dikelilingi oleh perbukitan. Suasana di sekitar terasa nyaman dan berudara sejuk. Anda dapat menikmati keindahanannya dengan berenang ataupun menyewa perahu motor sembari mengitari sekitar danau. Pulau Samosir juga memiliki danau diatas danau, yaitu Danau Sidihoni dan Danau Aek Natonang. Kedua danau diatas danau ini juga termasuk Objek Wisata Alam Indonesia yang wajib dikunjungi oleh pelancong, khususnya wisatawan domestik. Sangat sayang jika wisatawan manca justru lebih tahu dulu dengan sajian keindahan Objek Wisata Danau Toba di Sumatera Utara ini.

  section
    h2 Danau Toba Cont...
    p(style="text-align:left") Objek Wisata Danau Toba berada pada beberapa kabupaten di Sumatera Utara, antara lain:
    li Simalungun
    li Samosir
    li Tapanuli Utara
    li Humbang Hasundutan
    li Karo
    li Dairi
    p(style="text-align:left") Untuk mencapai Objek Wisata Danau Toba di Sumatera Utara ini, Anda dapat melalui rute kota Medan-Parapat ataupun melalui rute Medan-Berastagi yang berjarak lebih kurang 176 km dengan waktu tempuh kurang lebih 4 jam.