section
	h2 Akhirnya Siap Juga
	img.img-responsive(src='img/lastSlide.png')

section
	h4.special thanks
	p Our Github Page : http://coderkid.github.io/tkppl-bespoke-project
	p Our Trello : https://trello.com/b/aPiUVO1k/tkppl-bespoke-project